In [22]:
from pandas import DataFrame, Series 
import pandas as pd
import numpy as np
import matplotlib
import sklearn.ensemble
import sklearn.model_selection
import sklearn.metrics

In [23]:
data=pd.read_csv('abalone.csv')
data['Sex']=data['Sex'].map(lambda x:1 if x=='M' else (-1 if x=='F' else 0))

In [24]:
X=data.drop('Rings',axis=1)
Y=data['Rings']

In [25]:
kf=sklearn.model_selection.KFold(n_splits=5,random_state=1,shuffle=True)
rf=sklearn.ensemble.RandomForestRegressor(random_state=1)

In [26]:
results=DataFrame()
for i in range(1,50):
    rf=sklearn.ensemble.RandomForestRegressor(n_estimators=i,random_state=1)
    cr_val=sklearn.model_selection.cross_val_score(rf,X,Y,cv=kf,scoring='r2')
    results=results.append([(i,cr_val.mean())],ignore_index=True)

In [30]:
res=results[results[1]>0.52]
res

     0         1
21  22  0.520158
22  23  0.521017
23  24  0.522403
24  25  0.522617
25  26  0.523806
26  27  0.524122
27  28  0.525054
28  29  0.525970
29  30  0.526538
30  31  0.527100
31  32  0.528389
32  33  0.529617
33  34  0.529564
34  35  0.529517
35  36  0.529600
36  37  0.529131
37  38  0.529160
38  39  0.529241
39  40  0.529067
40  41  0.529342
41  42  0.529573
42  43  0.529375
43  44  0.529119
44  45  0.528375
45  46  0.528520
46  47  0.528705
47  48  0.529613
48  49  0.530394