In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
data=pd.read_csv('titanic.csv', index_col='PassengerId')

In [9]:
sex_count=data.groupby('Sex').size()
sex_count

Sex
female    314
male      577
dtype: int64

In [56]:
sur_count=data.groupby('Survived').size()
per_of_survived=sur_count[1]/sur_count.sum()
print("Percentage of survived pas: ",round(per_of_survived*100,2))

Percentage of survived pas:  38.38

In [57]:
pclass_count=data.groupby('Pclass').size()
per_of_fclass=pclass_count[1]/pclass_count.sum()
print("Percentage of 1st class pas: ",round(per_of_fclass*100,2))

Percentage of 1st class pas:  24.24

In [110]:
age_val=data['Age']
mean_age=data['Age'].mean()
median_age=data['Age'].median()
print("Mean: {0:.5f}".format(mean_age))
print("Mode: {0:.5f}".format(median_age))

Mean: 29.69912
Mode: 28.00000

In [59]:
data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [92]:
def name_proc(match):
    if match:
        sp_match=re.split(' ', match.group())
        return sp_match[1]

In [103]:
names=data['Name']
nnames=np.array(names)
fem_names=np.array([name_proc(re.search('(Mrs.|Miss.) ([A-z][a-z]*)',x)) for x in nnames])
fem_names=pd.Series([x for x in fem_names if x is not None]).value_counts()
fem_names.head()

William     13
Anna         9
Mary         9
John         6
Margaret     6
dtype: int64